@import url(/*<!--Sacar fuentes de google fonts-->);
header {
    background-color: #30343F;
    display:inline-flex;
    justify-content:space-between;
    height:min-content;
    width: 100%;
    /*me saca los botones, sino poner 70px*/
    }
a {
    text-decoration: none;
}

    
.isologotipo {
    display:inline-flex;
    width: fit-content;
    
}
header nav article a{
    color: red;
    display:inline-flex;
    float:left;
    padding-left: 850px;
    align-content:end;
    
    
}

.nuevos {
    height: 100%;
    background-image: url(./images/funkos-banner.webp);
    width:100%;
    background-size:cover;
    display:flex;
    padding: 1rem;

}
.nuevos h3 {    
    border-color: #111111;
    color: aliceblue;
}
.nuevos p{
   
    border-color: #111111;
    color: aliceblue;
}
.nuevos button{
   border-radius: 0.05%;
}
section h3 {
    font-size: 60px;
    color: black;
}
section p {
    font-size: 15px;
    color: black;
}
footer {
    background-color: #30343F;
    color:aliceblue;
}
footer section nav ul li{
    color: aliceblue;
   
}
.card{
    width:380px;
    margin: 10rem auto;
    border-radius: 10px;
    position:relative;
}

.tab {
    position:absolute;
    
}
.coleccion { /*no poner margin o padding*/
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    align-items: center;
    width: 100%;
          
}
.titulo-coleccion{
    color: #111111;
    font-size: larger;
}
.img-coleccion {
    display: inline-flex;
    border: 10000px #111111;
    box-align: right;
    padding: 1.5rem;
    width: 25%;
}
picture{
    width: 100%;
    display: inline-flex;
}
.carroussel {
    display: flex;
    height:min-content;
    width: 100%;
    float: left;
    background-color: white;
}
.carroussel h2 {
    padding: 0.5em;
    background-color: white;
    text-decoration: none;
    
}
.carroussel-card{
    width: 5rem;
    height:3rem;
    border-radius: 10px;
    /*position:relative;*/
    margin: 1em auto 1em auto;
    padding: 10px;
    /*box-sizing: border-box;*/
    display: flex;
    float: right;
   

}

/*SHOP*/
.card{
    flex: item;
    width: 5rem;
    height:3rem;
    border-radius: 10px;
    /*position:relative;*/
    margin: 1em auto 1em auto;
    padding: 10px;
    /*box-sizing: border-box;*/
    display: flex;
    float: center;

}
.flex-container{
    width: 100%;
    display: flex;
    justify-content: center;
    
}
.flex-item{
    flex-direction:row-reverse;
    flex-wrap:wrap-reverse;
    justify-content: center;
}

aside{
    width: 500px;
    height: 100%;
    align-items: flex-start;
}